* {
    margin:0;
    padding:0;
}
body {
    background-color: #D9BD97;
}

/* Anuncio header */
.anuncio p {
    color: rgba(255, 255, 255, 0.887);
    background-color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}


div header{
    /* tamaño tipo borde color */
    display: flex;
    /* justify */
    justify-content: space-around;
    /* align-items */
    padding: 100px;

}

.formulario{
    display: flex;
    width:100% ;
    padding: 20px;
    justify-content:flex-end ;

}


h1 {
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:right;
    background-color: #D9BD97;
   
}

p{
    color: white;
    text-align:center;
    text-transform: lowercase;
}

h2 {
    background-color: #D9BD97;
    color:white;
    margin-top: 10px;
    padding: 10px;
}

h3 {
    background-color: white;
}

footer {
    background-color: #D9BD97;
    padding: 10px;
    margin-top: 50px;
    text-align: center;
}
/* Carrito*/
table {
    background-color: grey;
    text-align: center;
    color: white;
}


/* LISTA */
ul {
    background-color: #D9BD97;
    text-decoration: none;
    display: flex; /* SE UTILLIZA PARA ALINEAR LOS ELEMENTOS */
    justify-content: space-around; /* SE COLOCAN CON UN ESPACIO ENTRE MEDIO  */
    list-style-type: none;  /* PARA QUITAR LOS PUNTOS QUE VIENEN EN LA LISTA DESORDENADA */
    transition: 0.5s;
}
/* FUNCIONA PARA LAS ETIQUETAS DE ENLACES */
a {
    text-decoration: none; 
    color: black;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
a:hover {
    color: white;
    text-decoration: underline;
}

ul:hover {
    padding:20px;
    color: white;
    font-size: 10 px;
}
/* Muestra de zapatillas*/
.galeriaimagenes {
    display: flexbox;
    justify-content:first baseline;
    background-color: whitesmoke;
    
}
/* Empresa */

.sobrenosotros {
    padding: 100px;
    margin-left: 15 px;
    text-align: justify;
    color: white;
    text-decoration:solid;
}

.whatsapp {
    display: flex;
    position: sticky;
    float:right;
}